
<form>
    Файл базы данных:
    <br />
    <input type="file" name="db" id="db" />
    <br />
    <br />
    Файл настроек сохранения:
    <br />
    <input type="file" name="saveOption" id="saveOption" />
    <br />
    <input type="submit" value="Сохранить" />
</form>